blockquote {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 50px !important;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

blockquote.dark-mode {
    color: #cfcfcf;
}

blockquote.light-mode {
    color: #707070;
}

blockquote p {
    display: inline;
}