blockquote {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 50px !important;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

body.dark-mode blockquote {
    color: #cfcfcf !important;
}

body.light-mode blockquote {
    color: #707070 !important;
}

blockquote p {
    display: inline;
}

li {
    margin: 0.4rem auto !important;
}
li p {
    margin: 0.8rem auto !important;
}
